.heading {
    font-family: 'PT Mono', monospace;
    margin-top:15px;
    font-weight:bold;
    font-size:4em;
    background-color:#ca7459;
    color:white;
    border-radius:5px;
    border: solid white 5px;
}

.lift {
    color:rgb(255, 255, 255);
    font-size:1.1em;
    margin:5px;
    font-family: 'PT Mono', monospace;
}

.lifttwo {
    border: 1px solid white;
    color: white;
    padding:2px; 
    font-size:2em;
    font-family: 'PT Mono', monospace;
}

.lifttwo:hover {
    border: 1px solid black;
    color: black;
    background-color:white;
}

button {
    background-color:rgb(81, 153, 137);
    color:white;
    font-family: 'PT Mono', monospace;
    padding:5px;
    border:1px white solid;
    border-radius:10px;
}

.add:hover {
    background-color:#ca7459;
    color:white;
    rotate:180;
}

.label1 {
    margin-right:100px;
}
.label2 {
    margin-right:175px;
}
.label3 {
    margin-right:175px;
}
.label4 {
    margin-right:50px;
}
.label5 {
    margin-right:100px;
}

.navbutton:hover{
    background-color:rgb(81, 153, 137);
    color:white;
    font-weight:bold;
    border:none;
}

.labelz {
    width:50%;

}

.content {
    background-color:#ca7459;
    color: white;
    margin-bottom:10px;
    padding:10px;
    border:solid 5px white;
    border-radius:5px;
    font-family: 'PT Mono', monospace;   
}

input {
    color:black;
    border: 1px solid black;
    border-radius:5px;
}

li {
    list-style-type: none;
}
