.heading {
    font-family: 'PT Mono', monospace;
    margin-top:15px;
    font-weight:bold;
    font-size:4em;
    background-color:#384d38;
    color:white;
    border-radius:5px;
}

.lift {
    color:black;
    font-size:1.1em;
}

button {
    background-color:#384d38;
    color:white;
    font-family: 'PT Mono', monospace;
    padding:5px;
    border:1px black solid;
    border-radius:10px;
}

.navbutton {
    font-size:.25em;
}

.content {
    background-color:#767976;
    color: white;
    margin-bottom:5px;
    padding:10px;
    border:solid 2px black;
    border-radius:5px;
}

li {
    list-style-type: none;
}
