.heading {
    font-family: 'PT Mono', monospace;
    margin-top:15px;
    font-weight:bold;
    font-size:4em;
    background-color:#384d38;
    color:white;
    border-radius:5px;
}

.lift {
    color:rgb(255, 255, 255);
    font-size:1.1em;
    margin:5px;
    font-family: 'PT Mono', monospace;
}

.lifttwo {
    border: 1px solid white;
    color: white;
    padding:2px; 
    font-size:2em;
    font-family: 'PT Mono', monospace;
}

.lifttwo:hover {
    border: 1px solid black;
    color: black;
    background-color:white;
}

button {
    background-color:#384d38;
    color:white;
    font-family: 'PT Mono', monospace;
    padding:5px;
    border:1px black solid;
    border-radius:10px;
}

.add:hover {
    background-color:white;
    color:black;
    border:black solid 1px;;
}

.navbutton {
    font-size:.25em;
    border: 1px solid white;
}

.label1 {
    margin-right:100px;
}
.label2 {
    margin-right:175px;
}
.label3 {
    margin-right:175px;
}
.label4 {
    margin-right:50px;
}
.label5 {
    margin-right:100px;
}

.navbutton:hover{
    background-color:white;
    color:black;
    font-weight:bold;
    border:none;
}

.content {
    background-color:#384d38;
    color: white;
    margin-bottom:10px;
    padding:10px;
    border:solid 5px black;
    border-radius:5px;
    font-family: 'PT Mono', monospace;
}

hr {
   border:none;
   height:5px;
   background-color: #384d38;
   margin-top:30px;
}

input {
    color:black;
}

li {
    list-style-type: none;
}

body {
    background-image: url("/fitnesstracker/public/images/rockbackground.jpg");
}